@font-face {
  font-family: "Play";
  src: url(/assets/fonts/Play/Play-Regular.ttf);
}

@font-face {
  font-family: "Play Bold";
  src: url(/assets/fonts/Play/Play-Bold.ttf);
}

:root {
  --softWhite: aliceblue;
  --purple: #433878;
  --LightPurple: #6152ab;
  --purpleHover: #43387877;
}

* {
  margin: 0;
}

html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: Play;
}

body {
  background-image: url(/assets/imgs/wallpaper.png);
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: Play;
}

.btn {
  color: var(--softWhite);
  background-color: var(--purple);
  border: none;
  box-shadow: -0.09rem -0.09rem 0 white,
    /* Top and left */ 0.09rem 0.09rem 0 black; /* Bottom and right */
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.menu-bar {
  padding: 0.6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--purple);
}

.menu {
  background-color: var(--LightPurple);
  width: 25rem;
  height: 30rem;
  position: relative;
  border-top-right-radius: 0.5rem;
}

.menu-tabs {
  display: flex;
  flex-direction: row;
}

.start-btn {
  width: 5rem;
  height: 2.5rem;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  margin-left: 0.5rem;
}

.date-time {
  color: var(--softWhite);
  margin-right: 2rem;
}

.icons-container {
  margin: 0 0.5rem;
}

.icons-rows {
  margin: 1.5rem 0.3rem;
  display: flex;
  flex-direction: row;
}

.icon,
.icon-finder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  font-size: 0.7rem;
  font-family: Play Bold;
  cursor: pointer;
}

.icon:hover {
  background-color: var(--purpleHover);
}

.icon-img {
  width: 5rem;
  margin-bottom: 0.5rem;
}

.btn:active {
  box-shadow: -0.09rem -0.09rem 0 black,
    /* Top and left */ 0.09rem 0.09rem 0 white; /* Bottom and right */
}

.title-bar {
  background-color: var(--purple);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-show {
  display: none;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5rem;
}

.tab-container {
  display: flex;
}

.tab-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 12rem;
  height: 2.5rem;
  margin-left: 1rem;
  box-shadow: -0.09rem -0.09rem 0 white,
    /* Top and left */ 0.09rem 0.09rem 0 black; /* Bottom and right */
}

.tab:active {
  box-shadow: -0.09rem -0.09rem 0 black,
    /* Top and left */ 0.09rem 0.09rem 0 white; /* Bottom and right */
}

.title-img,
.tab-img {
  width: 1.5rem;
  margin-right: 0.5rem;
}

.tab-img {
  margin-left: 0.5rem;
}

.title-heading,
.tab-heading {
  color: var(--softWhite);
}

.tab-heading {
  font-size: 1rem;
}

.close-btn {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.2rem 0.5rem;
  margin-bottom: 0.4rem;
}

.windows {
  position: absolute;
  border: 8px solid var(--purple);
  background-color: var(--softWhite);
  border-radius: 0.2rem;
}

.main-content > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

#finder {
  width: 35rem;
  height: 20rem;
  top: 10rem;
  left: 30rem;
}

#project-1 {
  width: 45rem;
  height: 35rem;
  top: 3rem;
  left: 35rem;
}

@media (max-width: 600px) {
  .menu-bar {
    padding: 1rem;
    padding-bottom: 1.5rem;
  }

  .start-btn {
    width: 7rem;
    height: 3.5rem;
    font-size: 1.4rem;
    margin-left: 0.3rem;
  }

  .date-time {
    color: var(--softWhite);
    margin-right: 3rem;
  }

  #current-date {
    font-size: 1.2rem;
  }

  .windows {
    position: fixed;
    margin-left: 1.5rem;
    margin-top: 2rem;
  }

  #finder {
    width: 20rem;
    height: 30rem;
    top: 0rem;
    left: 0rem;
  }

  .tab-btn {
    display: none;
  }

  .main-content > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }
}
