@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

:root {
  --softWhite: aliceblue;
  --purple: #433878;
  --purpleHover: #43387877;
}

* {
  margin: 0;
}

html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: Play;
}

body {
  background-image: url(../assets/imgs/wallpaper.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.statusbar {
  bottom: 0;
  background-color: var(--purple);
  padding: 1.5vh;
  width: 100%;
  position: fixed;
}

.icons-rows {
  display: flex;
  flex-direction: row;
  margin-top: 3vh;
}

.icon {
  margin: 1vh 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15vh;
  height: 16vh;
  font-size: 1.5vh;
  cursor: pointer;
}

.icon:hover {
  background-color: var(--purpleHover);
}

.icon-img {
  width: 10vh;
  margin-bottom: 1vh;
}

.btn {
  color: var(--softWhite);
  background-color: var(--purple);
  cursor: pointer;
  border: none;
  box-shadow: -1.5px -1.5px 0 white, /* Top and left */ 1.5px 1.5px 0 black; /* Bottom and right */
}

.btn:active {
  box-shadow: -1.5px -1.5px 0 black, /* Top and left */ 1.5px 1.5px 0 white; /* Bottom and right */
}

.start-btn {
  margin: 0vh 1vh;
  padding: 0.5vh 2vh;
  font-size: 2.5vh;
  letter-spacing: 2px;
}

.title-bar {
  background-color: var(--purple);
  padding: 0.5vh;
  display: flex;
  justify-content: end;
  align-items: end;
}

.close-btn {
  font-size: 1.8vh;
  text-transform: uppercase;
  padding: 0.5vh 1vh;
}

#finder {
  background-color: var(--softWhite);
  width: 100vh;
  height: 40vh;
  position: absolute;
  top: 8vh;
  left: 30vh;
  border: 1px solid black;
}

#my-projects {
  background-color: var(--softWhite);
  width: 100vh;
  height: 80vh;
  position: absolute;
  top: 8vh;
  left: 60vh;
  border: 1px solid black;
}
