<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
  </head>
  <body>
    <div
      id="project-1"
      class="windows"
      hidden
    >
      <div class="title-bar">
        <div class="title-container">
          <img
            src="./assets/imgs/folder_open.png"
            alt="folder open icon"
            class="title-img"
          />
          <p class="title-heading">Project 1</p>
        </div>

        <button
          class="btn close-btn"
          data-window="#project-1"
        >
          x
        </button>
      </div>
      <div class="content">test</div>
    </div>
  </body>
</html>
